<!DOCTYPE html>
<html {{- if (eq .Site.Params.mode "dark" ) -}}class="dark" {{ end }}>
{{ partial "header.html" . }}
<link rel="stylesheet" href="/css/labs.css" />
<body class="labs">
  <div class="container wrapper">
    {{ partial "head.html" . }}
    <div class="post">
      <div class="post-header">
        <div class="matter">
          <h1 class="title">Workshop Tags</h1>
        </div>
      </div>
      <div class="markdown labs-content">
        <p>Browse workshops by topic.</p>
        <div class="labs-tag-list">
          {{ range .Data.Terms.ByCount }}
          <a href="{{ .Page.RelPermalink }}" class="labs-tag-item">
            <span class="labs-tag">{{ .Page.Title }}</span>
            <span class="labs-tag-count">{{ .Count }}</span>
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ partial "footer.html" . }}
</body>
</html>
